
<h2>"You have successfully uploaded information..!"</h2>

<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/add-shakha-mahiti']">Add New Details</a>
    <br>
    <button id ="export" type="button" (click)="downloadCSV()" mat-raised-button color="primary">Export Data into a CSV File</button>
</div>

<!-- <div id="dvData" class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource"> -->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <!-- <ng-container matColumnDef="शाखा क़मांक">
      <th mat-header-cell *matHeaderCellDef> शाखा क़मांक </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.isbn}} </td>
    </ng-container> -->

    <!-- Title Column -->
    <!-- <ng-container matColumnDef="शाखा गाव">
      <th mat-header-cell *matHeaderCellDef> शाखा गाव </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container> -->

    <!-- Author Column -->
    <!-- <ng-container matColumnDef="शाखा प्रमुख नाव">
      <th mat-header-cell *matHeaderCellDef> शाखा प्रमुख नाव </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container> -->

    <!-- Title Column -->
    <!-- <ng-container matColumnDef="शाखा प्रमुख मोबाईल क़मांक">
        <th mat-header-cell *matHeaderCellDef>शाखा प्रमुख मोबाईल क़मांक </th>
        <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.isbn}} </td>
      </ng-container> -->
  
      <!-- Title Column -->
      <!-- <ng-container matColumnDef="companies">
        <th mat-header-cell *matHeaderCellDef>बूथ</th>
        <td mat-cell *matCellDef="let element"> 
            <div *ngFor="let booth of element.companies">
               <label>बूथ नाव : {{booth.boothName}}</label><br>
               <label>बूथ मोबाईल क़मांक : {{booth.boothMoNumber}}</label><br>
                <label>बूथ क़मांक : {{booth.boothNumber}}</label>
            </div>          
        </td>
      </ng-container> -->
  
      <!-- Author Column -->
      <!-- <ng-container matColumnDef="sadasya">
        <th mat-header-cell *matHeaderCellDef>सदस्य</th>
        <td mat-cell *matCellDef="let element">  
           <div *ngFor="let sadasya of element.sadasya">        
            <label>सदस्य नाव : {{sadasya.sadasyaName}}</label><br>
            <label>सदस्य मोबाईल क़मांक : {{sadasya.sadasyaMoNumber}}</label>
          </div> 
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/book-details/', row._id]"></tr>
  </table>
</div> -->
