<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/books']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">
  <!-- <h1>शिवसेना शाखा माहिती </h1> -->
  <mat-form-field class="example-full-width">
    <input matInput placeholder="शाखा क़मांक" formControlName="isbn"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('isbn').valid && bookForm.get('isbn').touched">कृपया हे भरा</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="शाखा गाव" formControlName="title"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched">कृपया हे भरा</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="शाखा प्रमुख नाव" formControlName="author"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched">कृपया हे भरा</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="शाखा प्रमुख मोबाईल क़मांक" formControlName="description"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('description').valid && bookForm.get('description').touched">कृपया हे भरा</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" >
    <input matInput placeholder="शाखा उप प्रमुख नाव" formControlName="publisher"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('publisher').valid && bookForm.get('publisher').touched">कृपया हे भरा</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="शाखा उप प्रमुख मोबाईल क़मांक" formControlName="published_year"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('published_year').valid && bookForm.get('published_year').touched">कृपया हे भरा</span>
    </mat-error>
  </mat-form-field>

  <div formArrayName="companies">
    <div *ngFor="let comp of bookForm.get('companies').controls; index as i">    
      <h3>Booth Pramukh {{i+1}}: </h3>
      <div [formGroupName]="i">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" formControlName="boothName"
                     [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!bookForm.get('boothName').valid && bookForm.get('boothName').touched">कृपया हे भरा</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Mobile Number:" formControlName="boothMoNumber"
                       [errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!bookForm.get('boothMoNumber').valid && bookForm.get('boothMoNumber').touched">कृपया हे भरा</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Booth Number: " formControlName="boothNumber"
                         [errorStateMatcher]="matcher">
                  <mat-error>
                    <span *ngIf="!bookForm.get('boothNumber').valid && bookForm.get('boothNumber').touched">कृपया हे भरा</span>
                  </mat-error>
                </mat-form-field>     
        <span><button (click)="deleteCompany(i)">Delete Company</button></span>
      </div>
    </div>
  </div> 
  <button (click)="addNewCompany()">Add new Company</button>  

  <div formArrayName="sadasya">
      <div *ngFor="let comp of bookForm.get('sadasya').controls; index as i">    
        <h3>Sadasya {{i+1}}: </h3>
        <div [formGroupName]="i">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="sadasyaName"
                       [errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!bookForm.get('sadasyaName').valid && bookForm.get('sadasyaName').touched">कृपया हे भरा</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mobile Number:" formControlName="sadasyaMoNumber"
                         [errorStateMatcher]="matcher">
                  <mat-error>
                    <span *ngIf="!bookForm.get('sadasyaMoNumber').valid && bookForm.get('sadasyaMoNumber').touched">कृपया हे भरा</span>
                  </mat-error>
                </mat-form-field>    
          <span><button (click)="deleteSadasya(i)">Delete Sadasya</button></span>
        </div>
      </div>
    </div> 
    <button (click)="addNewSadasya()">Add new Sadasya</button>  
  

<div class="form-group">
  <div class="button-row">
    <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
  </div>
</form>
